{% extends 'main/base.html' %}

{% block content %}
    <h1> {{todoList.name}} </h1>
    <form method="post" action="#">
        {%csrf_token%}

        {% for item in todoList.todoitem_set.all %}
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input type="checkbox" value="clicked" name="c{{item.id}}"
                       {% if item.complete == True %}
                       checked
                       {% endif %} />
            </div>
            <input type="text" name="t{{item.id}}" value="{{item.text}}" class="form-control" />
        </div>
        {% endfor %}

        
        <div class="input-group mb-3">
            <button type="submit" name="save" value="save" class="btn btn-success me-3">Save</button>
            <div class="input-group-prepend ">
                <button type="submit" name="addNewItem" value="addNewItem" class="btn btn-success">Add Item</button>
            </div>
            <input type="text" name="newItem" />
        </div>
    </form>
{% endblock %}